<!DOCTYPE html>
<html lang="pt-br">
<link rel="shortcut icon" href="/icon/organizacao-_1_.ico">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoySense | Dashboard</title>
    <!-- chart js lib -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- estático js script -->
    <script src="/js/side-bar.js" defer></script>
    <!-- <script src="/js/graficos-simulativo-dashboard.js" defer></script> -->
    <!-- styles -->
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/dashboard-content.css">
    <link rel="stylesheet" href="/css/header-main.css">
    <!--icones-->
    <link rel="stylesheet" href="https://icons8.com.br/icons/set/banheiro">
</head>

<body>
    <aside class="side-bar">
        <div class="logo-wrapper">
            <img src="/img/datasane.png" />
        </div>
        <div class="profile-wrapper">
            <div class="profile-picture">
                <img src="/img/profile.jpg" />
            </div>
            <span>teste</span>
            <h4>teste</h4>
        </div>
        <div class="line-side-bar"></div>
        <nav class="nav-side-bar">
            <ul class="accordion-menu">
                <li class="nav-normal-item">
                    <a href="/dashboard">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/dashboard-layout.png"
                            alt="dashboard-layout" />
                        Dashboard
                    </a>
                </li>
                <li class="accordion-item dash-on">
                    <div class="accordion-item-header">
                        <img width="20" height="20"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/maintenance.png"
                            alt="maintenance" />
                        <span>Gerenciar</span>
                    </div>

                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="/analistas"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp; Analistas
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/address.png"
                            alt="address" />
                        <span>Municípios</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="/municipios">
                                <img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />
                                &nbsp; Estatísticas
                            </a>
                        </li>
                        <li class="accordion-subitem">
                            <a href="/municipios/mapa">
                                <img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />
                                &nbsp; Mapa
                            </a>
                        </li>
                        <li class="accordion-subitem">
                            <a href="/municipios/comparativa">
                                <img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />
                                &nbsp; Comparativa
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/document--v1.png"
                            alt="document--v1" />
                        <span>Relatório</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="relatorios"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Desempenho</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Rentabilidade</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Anomalias</a>
                        </li>
                    </ul>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/settings--v1.png"
                            alt="settings--v1" />
                        <span>Configuração</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="/profile"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Perfil</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Suporte</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="footer-aside">
            <div class="logout-container">
                <a href="/logout">
                    <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/f13939/logout-rounded.png"
                        alt="logout-rounded" />
                    Sair
                </a>
            </div>
        </div>
    </aside>
    <main class="main-dashboard">
        <header class="header-dashboard">
            <div class="inner-header">
                <h1>Dashboard</h1>
                <a href="#">/dashboard</a>
            </div>
        </header>
        <section class="summary-container">
            <div class="summary-card">
                <div class="summary-main">
                    <div class="flag">
                        <span class="border-left red">São Caetano do Sul</span>
                        <span class="border-left blue">Média Regional - Suldeste</span>
                    </div>
                    <div class="params">
                        <h1 class="params-red">22%</h1>
                        <span class="separator">|</span>
                        <h1 class="params-blue">50%</h1>
                    </div>
                </div>
                <div class="summary-footer ">
                    <img src="https://img.icons8.com/?size=40&id=UioBM7GOGZgT&format=png&color=000000">
                    <h1>Água</h1>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-main">
                    <div class="flag">
                        <span class="border-left red">São Caetano do Sul</span>
                        <span class="border-left blue">Média Regional - Suldeste</span>
                    </div>
                    <div class="params">
                        <h1 class="params-red">22%</h1>
                        <span class="separator">|</span>
                        <h1 class="params-blue">50%</h1>
                    </div>
                </div>
                <div class="summary-footer ">
                    <img  src="https://img.icons8.com/?size=40&id=5qFBnctChIMS&format=png&color=000000" >
                    <h1>Esgoto</h1>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-main">
                    <div class="flag">
                        <span class="border-left red">São Caetano do Sul</span>
                        <span class="border-left blue">Média Regional - Suldeste</span>
                    </div>
                    <div class="params">
                        <h1 class="params-red">22%</h1>
                        <span class="separator">|</span>
                        <h1 class="params-blue">50%</h1>
                    </div>
                </div>
                <div class="summary-footer ">
                   <img  src="//img.icons8.com/?size=40&id=2965&format=png&color=000000">
                    <h1>Coleta de Lixo</h1>
                </div>
            </div>
            <div class="summary-card">
                <div class="summary-main">
                    <div class="flag">
                        <span class="border-left red">São Caetano do Sul</span>
                        <span class="border-left blue">Média Regional - Suldeste</span>
                    </div>
                    <div class="params">
                        <h1 class="params-red">22%</h1>
                        <span class="separator">|</span>
                        <h1 class="params-blue">50%</h1>
                    </div>
                </div>
                <div class="summary-footer ">
                    <img class="img-inundação" src="https://img.icons8.com/?size=45&id=iCh44TmjfPwv&format=png&color=000000">
                    <h1>Inundação</h1>
                </div>
            </div>
        </section>
        <div class="section-dashboard-content">
            <div class="Graficos">
                <div class="Grafico1">
                    <canvas id="grafico1"></canvas>
                </div>
                <div class="AreaGraficoPizza">
                    <div class="GraficoPizza1">
                        <canvas id="graficoPizza1"></canvas>
                        <p>Distribuição de Municípios por Abastecimento de Água</p>
                    </div>
                    <div class="GraficoPizza2">
                        <canvas id="graficoPizza2"></canvas>
                        <p>Distribuição de Municípios por Abastecimento de Esgoto</p>
                    </div>
                </div>
                <div class="AreaGraficoPizza">
                    <div class="GraficoPizza3">
                        <canvas id="graficoPizza3"></canvas>
                        <p>Distribuição de Municípios por Abastecimento de Coleta de Lixo</p>
                    </div>
                    <div class="GraficoPizza4">
                        <canvas id="graficoPizza4"></canvas>
                        <p>Distribuição de Municípios por Abastecimento de Inundação</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>

        const labels = ['A', 'B', 'C'];
        const data = {
            labels: labels,
            datasets: [{
                axis: 'y',
                label: '',
                data: [70, 100, 20],
                fill: false,
                backgroundColor: ['rgba(52, 175, 255, 1)', 'rgba(141, 51, 255, 1)', 'rgba(103, 226, 205, 1)'],
                borderWidth: 1
            }]
        };

        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('grafico1').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    elements: {
                        bar: {
                            borderRadius: 4
                        }
                    }
                }
            });
        });

        const labelsPizza = ['Média', 'Alta', 'Baixa'];
        const dataPizza = {
            labels: labelsPizza,
            datasets: [{
                data: [30, 40, 30],
                backgroundColor: ['rgba(52, 175, 255, 1)', 'rgba(141, 51, 255, 1)', 'rgba(103, 226, 205, 1)']
            }]
        };

        const ctxPizza1 = document.getElementById('graficoPizza1').getContext('2d');
        const ctxPizza2 = document.getElementById('graficoPizza2').getContext('2d');
        const ctxPizza3 = document.getElementById('graficoPizza3').getContext('2d');
        const ctxPizza4 = document.getElementById('graficoPizza4').getContext('2d');

        new Chart(ctxPizza1, { type: 'pie', data: dataPizza, options: { responsive: true } });
        new Chart(ctxPizza2, { type: 'pie', data: dataPizza, options: { responsive: true } });
        new Chart(ctxPizza3, { type: 'pie', data: dataPizza, options: { responsive: true } });
        new Chart(ctxPizza4, { type: 'pie', data: dataPizza, options: { responsive: true } });
    </script>
</body>

</html>