<!DOCTYPE html>
<html lang="pt-br">
<link rel="shortcut icon" href="/icon/Mask-group.ico">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSane | Dashboard</title>
    <!-- chart js lib -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <!-- estático js script -->
    <script src="/js/side-bar.js" defer></script>
    <!-- <script src="/js/graficos-simulativo-dashboard.js" defer></script> -->

    <!-- plotar-grafico-marco-legal-->
    <script src="/js/dashboard.js"></script>

    <!-- plotar-grafico-pizza1-->
    <script src="/js/grafico-pizza1.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/dashboard-content.css">
    <link rel="stylesheet" href="/css/header-main.css">
    <!--icones-->
    <link rel="stylesheet" href="https://icons8.com.br/icons/set/banheiro">
</head>

<body>
    <aside class="side-bar">
        <div class="logo-wrapper">
            <img src="/img/datasane.png" />
        </div>
        <div class="profile-wrapper">
            <div class="profile-picture">
                <img src="/img/profile.jpg" />
            </div>
            <span>teste</span>
            <h4>teste</h4>
        </div>
        <div class="line-side-bar"></div>
        <nav class="nav-side-bar">
            <ul class="accordion-menu">
                <li class="nav-normal-item dash-on">
                    <a href="/dashboard">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/dashboard-layout.png"
                            alt="dashboard-layout" />
                        Dashboard
                    </a>
                </li>
                <% if (isadmin) { %>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="20" height="20"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/maintenance.png"
                            alt="maintenance" />
                        <span>Gerenciar</span>
                    </div>

                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="/analistas"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp; Analistas
                            </a>
                        </li>
                    </ul>
                </li>
                <% } %>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17" src="https://img.icons8.com/material-outlined/24/FFFFFF/address.png"
                            alt="address" />
                        <span>Municípios</span>
                    </div>
                    <ul class="accordion-submenu">
                        <!-- <li class="accordion-subitem">
                            <a href="/municipios">
                                <img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />
                                &nbsp; Estatísticas
                            </a>
                        </li>
                        <li class="accordion-subitem">
                            <a href="/municipios/mapa">
                                <img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />
                                &nbsp; Mapa
                            </a>
                        </li> -->
                        <li class="accordion-subitem">
                            <a href="/municipios/comparativa">
                                <img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />
                                &nbsp; Comparativa
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/document--v1.png"
                            alt="document--v1" />
                        <span>Relatório</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="relatorios"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Desempenho</a>
                        </li>
                        <!-- <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Rentabilidade</a>
                        </li>
                        <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Anomalias</a>
                        </li> -->
                    </ul>
                </li>
                <li class="nav-normal-item">
                    <a href="/alertas">
                        <img width="18" height="18" src="https://img.icons8.com/windows/32/FFFFFF/box-important--v1.png"
                            alt="box-important--v1" />
                        &nbsp;Alertas
                    </a>
                </li>
                <li class="accordion-item">
                    <div class="accordion-item-header">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/settings--v1.png"
                            alt="settings--v1" />
                        <span>Configuração</span>
                    </div>
                    <ul class="accordion-submenu">
                        <li class="accordion-subitem">
                            <a href="/profile"><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Perfil</a>
                        </li>
                        <!-- <li class="accordion-subitem">
                            <a href=""><img width="10" style="transform: rotate(270deg);" height="10"
                                    src="https://img.icons8.com/material-outlined/24/FFFFFF/left-down2.png"
                                    alt="left-down2" />&nbsp;Suporte</a>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="footer-aside">
            <div class="logout-container">
                <a href="/logout">
                    <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/f13939/logout-rounded.png"
                        alt="logout-rounded" />
                    Sair
                </a>
            </div>
        </div>
    </aside>
    <main class="main-dashboard">
        <header class="header-dashboard">
            <div class="inner-header">
                <h1>Dashboard</h1>
                <a href="#">/dashboard</a>
            </div>
        </header>

        <div class="section-dashboard-content">
            <div class="Graficos">
                <div class="Grafico1">
                    <p class="title-grafico1">Índice de Saneamento: Comparativo Municipal de SP</p>
                    <div class="filter-container">
                        <div class="filter-content">
                            <label>Categoria</label>
                            <select id="selectCategoria">
                                <option value="agua_value">Abastecimento de água</option>
                                <option value="esgoto_value">Tratamento de Esgoto</option>
                                <option value="lixo_value">Coleta de Lixo</option>
                            </select>
                        </div>
                        <div class="filter-content">
                            <label>População</label>
                            <select id="selectPorteMunicipio">
                                <option value="geral_value">0 a 12milhões</option>
                                <option value="pequeno_value">0 a 50mil</option>
                                <option value="medio_value">50.001 a 200mil</option>
                                <option value="grande_value">200.001 a 12milhões</option>
                            </select>
                        </div>
                        <div class="filter-content">
                            <label>Ordenar por</label>
                            <select id="selectMenosOuMaisSelecionado">
                                <option value="menosAfetado_value">Menos afetado</option>
                                <option value="maisAfetado_value">Mais afetado</option>
                            </select>
                        </div>

                    </div>
                    <canvas id="grafico1"></canvas>
                </div>
                <div class="AreaGraficoPizza">
                    <div class="GraficoPizza1">
                        <p>Distribuição de múnicipios por cobertura de Abastecimento de água</p>
                        <canvas id="graficoPizza1"></canvas>
                    </div>
                    <div class="GraficoPizza2">
                        <p>Distribuição de múnicipios por cobertura de Tratamento de esgoto</p>
                        <canvas id="graficoPizza2"></canvas>
                    </div>
                </div>
                <div class="AreaGraficoPizza">
                    <div class="GraficoPizza3">
                        <p>Distribuição de múnicipios por cobertura de Coleta de lixo</p>
                        <canvas id="graficoPizza3"></canvas>
                    </div>
                    <div class="GraficoPizza4">
                        <p>Distribuição de múnicipios por Chance de inundação</p>
                        <canvas id="graficoPizza4"></canvas>
                    </div>
                </div>
            </div>
            <div class="grafico-linha-container">
                <p class="title-grafico1">Cobertura de saneamento básico no Sudeste do Brasil nos últimos 4 anos</p>
                <canvas id="lineGrafico"></canvas>
            </div>

        </div>
    </main>
    <script>
        // Grafico de linha
        function graficoLine() {

            const lineCanva = document.getElementById("lineGrafico")
            const t = new Chart(lineCanva, {
                type: 'line',
                data: {
                    labels: ["2019", "2020", "2021", "2022"],
                    datasets: [{
                        label: 'Agua',
                        data: [65, 59, 80, 81],
                        fill: false,
                        borderWidth: 2,
                        borderColor: 'rgb(6, 204, 57)',
                        backgroundColor: 'rgb(6, 204, 57)'
                    },
                    {
                        label: 'Esgoto',
                        data: [89, 93, 76, 22],
                        fill: false,
                        borderWidth: 2,
                        borderColor: 'rgb(98, 55, 192)',
                        backgroundColor: 'rgb(98, 55, 192)'
                    },
                    {
                        label: 'Coleta de Lixo',
                        data: [75, 78, 85, 50],
                        fill: false,
                        borderWidth: 2,
                        borderColor: 'rgb(22, 55, 192)',
                        backgroundColor: 'rgb(22, 55, 192)'
                    },
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            min: 0,
                            max: 100,
                            ticks: {
                                stepSize: 10
                            }
                        }
                    },
                    plugins: {

                        legend: {
                            position: 'bottom'
                        }
                    }
                }
            });

        };
        graficoLine();

    </script>
</body>

</html>