.Graficos {

    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
}

.Grafico1 {
    width: 1058px;
    height: 600px;
    background-color: #ffff;
    border-radius: 16px;
}

.AreaGraficoPizza,
.AreaGraficoPizza2 {

    margin-left: 1%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.GraficoPizza1,
.GraficoPizza2,
.GraficoPizza3,
.GraficoPizza4 {

    width: 250px;
    height: 295px;
    background-color: #ffff;
    border-radius: 16px;

}